/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/perfect-dos-vga-437');

body {
   background-color: rgb(247, 238, 217);
   /* background: repeating-linear-gradient(rgba(247, 236, 211, 1), rgb(247, 223, 169) 1px, transparent 1px, transparent 4px); */
   /* font-family: 'VT323', monospace; */
   font-family: 'Perfect DOS VGA 437', sans-serif;
   margin: 0;
   padding: 0;
}


.header {
   width: 100%;
   border-bottom: solid 1px;
}

.container {
   margin: 0;
   padding: 0 5%;
}

.wrapper {
   height: 100vh;
   position: relative;
   margin: 10% 0;
   display: flex;
}



.dot {
   width: 8px;
   background-color: black;
   height: 8px;
   border-radius: 50%;
   margin-left: -3px;
   margin-top: -2px;
}

#main .line {
   position: absolute;
   width: 2px;
   background-color: black;
   height: 100%;
   left: 50%;
   top: 0%;
}
 

h3{
  margin: 0; 
}

#one  .dot{
   background-color: rgb(247, 238, 217);
   border: solid 2px #000;
    width: 40px;
    height: 40px;
    margin-left: -20px;
}

.left, .right{
   width: 50%;
   padding:0 5%;
}
.right{
   display: flex;
   justify-content: center;
   align-items: center;
}
.buttons{
   display: flex;
   justify-content: space-around;
   margin-top: 10%;
}
.buttons button{
   font-size: 1.2rem;
   width: 35%;
   padding: 2% 5%;
   border: solid 2px;
   border-radius: 2em;
   font-family: 'Perfect DOS VGA 437', sans-serif;
   background: transparent;
}
button:focus{
   background-color: rgb(125, 116, 190);
}