@import url('http://fonts.cdnfonts.com/css/perfect-dos-vga-437');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   background-color: rgb(249, 227, 175);
   background: repeating-linear-gradient(rgba(249, 227, 175, 1), rgb(247, 223, 169) 1px, transparent 1px, transparent 4px);
   /* font-family: 'VT323', monospace; */
   font-family: 'Perfect DOS VGA 437 Win', sans-serif;
   /* font-family: 'Press Start 2P', cursive; */
   margin: 0;
   padding: 0;
   font-family: 'Press Start 2P', cursive;
   
      overflow-x: hidden;
}

/* ************ START HEADER STYLES ************ */
.header {
   width: 100%;
   background-color: rgb(247, 238, 217);
   background: repeating-linear-gradient(rgba(247, 236, 211, 1), rgb(245, 220, 176) 1px, rgba(247, 236, 211, 1) 1px, rgb(245, 220, 176) 4px);
   border-bottom: solid 1px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 101;
   height: 30px;
   /* padding: 0; */
   /* display: none; */
}



.header img {
   width: 40px;
}

.naming {
   margin-left: 10px;
   display: flex;
   align-items: center;
}

.naming h3 {
   margin-left: 10px;
}

#time {
   padding: 0 7px;
   /* margin-right: 10px; */
}

#screenButton:hover {
   cursor: pointer;
}

.fa-expand {
   margin-right: 10px;
}

.fullscreen {
   display: flex;
   align-items: center;
   border-right: solid 1.5px;
   border-left: solid 1.5px;
   height: 100%;
   padding: 0 7px;
}

.menu {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* ************ END OF HEADER STYLES ************ */

#radio-app {
   position: fixed;
   top: 10%;
   right: 20px;
   width: 120px;
   height: 70px;
}

#radio-app img {
   width: 70px;
   margin-bottom: 0;
   padding: 0;
}

.wrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.wrap p {
   margin-top: 0;
   font-size: smaller;
   font-weight: lighter;
   opacity: 0.75;
}

#radio-app:hover {
   cursor: pointer;
}

.container {
   padding: 2rem;
   padding-bottom: 400px;
   margin: 0 auto;
   /* auto for right and left nakes an elem centered */
   max-width: 800px;
}

.top-section {
   display: flex;
   height: 30vh;
   /* text-align: center; */
   padding: 4rem 0;
   /* max-width: 600px; */
   /* height: 25vh; */
   /* margin: 0 auto; */
}

.top-section p {
   height: 33vh;
   font-size: 10px;
   text-decoration-line: none;
   line-height: 200%;
}

.section p {
   font-size: 10px;
   line-height: 200%;
}

.top-section h3 {
   color: rgb(36, 23, 99);
}

.top-section .auto-input {
   color: rgb(36, 23, 99);
}

.top-section1 {
   width: 70%;
}

.top-section2 {
   display: flex;
   flex-direction: column;
   padding: 0 25px;
   width: 130px;
   margin-left: 30px;
}

.box{
   position: relative;
}
.picture{
   position: absolute;
   right: 0;
   top: 35%;
   bottom: 50%;
}
.left {
   /* top */
   left: 0;
}
.picture img {
   width: 300px;
}
.timeline {
   position: relative;
   min-height: 150px;
}

/* ************ STYLES ************ */

.wrapper {
   margin-top: 55%;
}

.line {
   position: absolute;
   z-index: 2;
   width: 2px;
   left: calc(50% - 1px);
   top: -200px;
   bottom: -50%;
   background-color: black;
   /* display: none; */
}

.line:before,
.line:after {
   position: absolute;
   display: block;
   content: '';
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background-color: black;
   left: 50%;
   transform: translateX(-50%);
}

.line:after {
   bottom: 0;
}

.section {
   display: flex;
   opacity: 0;
   transform: translateX(-100%);
   transition: 600ms ease;
   position: relative;
   /* z-index: 1; */
   margin: 100px 0;
   padding: 1rem;
   border-radius: 1rem;
   align-items: center;
   min-height: 600px;
   /* min-height: 50vh; */
}

.odd {
   flex-direction: row-reverse;
   /* transform: translateX(100%); */
}

.dot {
   position: absolute;
   display: block;
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   background-color: rgb(247, 238, 217);
   border: solid 2px #000;
   left: 50%;
   top: 50%;
   transform: translateX(-50%);
   z-index: 3;
}

.content {
   width: calc(50% - 2rem);
}

.show-me {
   transform: none;
   opacity: 1;
}



.buttons{
   display: flex;
   justify-content: space-around;
   margin-top: 10%;
}
.buttons button{
   font-size: 1.2rem;
   width: 35%;
   padding: 2% 5%;
   border: solid 2px;
   border-radius: 2em;
   font-family: 'Perfect DOS VGA 437', sans-serif;
   background: transparent;
}
button:focus{
   background-color: rgb(125, 116, 190);
}




/* ****************** PLAYER CSS ****************** */

.player {
   z-index: 100;
   /* background-color: rgb(247, 238, 217); */
   background-color: rgb(247, 238, 217);
   background: repeating-linear-gradient(rgba(247, 236, 211, 1), rgb(245, 220, 176) 1px, rgba(247, 236, 211, 0.9) 1px, rgba(245, 220, 176, 0.9) 4px);
   position: fixed;
   margin: 0%;
   border: solid 2px;
   border-radius: 0.3em;
   width: 300px;
   display: flex;
   flex-direction: column;
   top: 45%;
   left: 20px;
}

.part3 {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   cursor: pointer;
}

.part3 img {
   margin: 0 5px;
   width: 35px;
}

.close {
   margin: 10px;
}

.progressBar {
   margin: 5px 25px;
   background-color: rgb(181, 175, 175);
   height: 3px;

}

.blackLine {
   width: 0%;
   background-color: rgb(13, 13, 13);
   height: 3px;
   position: relative;

}

.player .part2 {
   text-align: center;
}

.part2 h4 {
   margin-bottom: 6px;
}

/* .blackLine::after{
   margin-left: 75px;
   position: absolute;
   top: -3px;
   display: block;
   content: '';
   width: 3px;
   background-color: rgb(13, 13, 13);
   height: 10px;
} */
.hide {
   display: none;
}



.genderPicture {
   display: flex;
   justify-content: center;
   align-items: center;
}

.genderPicture {
   height: 430px;

}

.genderPicture img {
   width: 250px;
}

.genderBtn {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   cursor: pointer;
}

.spanP {
   color: rgb(36, 23, 99);
   font-size: 15px;
}